body{
	margin: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 500px;
	height: 600px;
	background: rosybrown;
	display:flex;
	justify-content: center;
	align-items: center;
			border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.item{
	height: 200px;
	width: 150px;
	background: white;
			border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}