.container{
  height: 300px;
  background: papayawhip;
  display: flex;
  gap:3px;
  justify-content: center;
  align-items:center;
}
.item {
  width: 100px;
  height: 100px;
  background-color: rosybrown;
}

#item2{
  height: 200px;
  align-self: self-end;
}