*{
	margin: 0;
	  font-family: "Poppins", sans-serif;
	  color: #8B5E3C;

}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: beige;
	  padding: 18px 30px;
}
.logo{
	font-family: "Playwrite DE SAS", cursive;
	color: rosybrown;
}
.links{
	display: flex;
	gap: 50px;
}

a {
  color: #8B5E3C; /* بني ناعم */
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

a:hover {
  color: #D6A77A;
}

button {
  background-color: #8B5E3C;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: #6f472c;
}

.section {
  max-width: 900px;
  margin: 55px 0 0 55px;
  padding: 36px 28px;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);

}
.section h2 {
  margin-top: 0;
  margin-bottom: 14px;
}


.section p{
	 max-width: 850px;
  line-height: 1.45;
}

.btn2{
	margin-top: 15px;
}