*{
	margin: 0;
}
.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: beige;
	padding: 12px 24px;
}
.logo{
	font-family: "Playwrite DE SAS", cursive;
	color: rosybrown;
}
.links{
	display: flex;
	gap: 50px;
}

a {
  color: #8B5E3C; /* بني ناعم */
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

a:hover {
  color: #D6A77A;
}

button {
  background-color: #8B5E3C;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 6px 16px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: #6f472c;
}